{% macro base_object_impl(typename, selections) %}

/// class memberes
{% for selection in selections %}
final {{type_name_for_selection(selection)}} {{selection.selection_name}};

{% endfor %}

// keywordargs constructor
{{typename}}({
    {% for selection in selections %}
    required this.{{selection.selection_name}},
    {% endfor %}
});


static {{typename}} fromJson(Map<String, dynamic> data) {
    {% for selection in selections %}
    {% if selection.kind == "Scalar" %}
        final {{ selection.selection_name }}_value = data['{{ selection.selection_name }}'] as {{ type_name_for_selection(selection) }};
            
        {% endif %}
    {% endfor %}
    
  return {{typename}}(
    {% for selection in selections %}
    {{selection.selection_name}}: {{selection.selection_name}}_value,
    {% endfor %}
    );
}

{{typename}} updateWithJson(Map<String, dynamic> data) {
    {% for selection in selections %}
    {% if selection.kind == "Scalar" %}
        final {{ selection.selection_name }}_value;
        if (data.containsKey('{{ selection.selection_name }}')){
            {{ selection.selection_name }}_value = data['{{ selection.selection_name }}'] as {{ type_name_for_selection(selection) }};
        } else {
            {{ selection.selection_name }}_value = {{ selection.selection_name }};
        }            
        {% endif %}
    {% endfor %}
    
  return {{typename}}(
    {% for selection in selections %}
    {{selection.selection_name}}: {{selection.selection_name}}_value,
    {% endfor %}
    );
}
bool operator==(Object other){
    if (other is! {{typename}}) return false;
    {% for selection in selections %}
    {% if selection.kind == "Scalar" %}
        if (other.{{selection.selection_name}} != {{selection.selection_name}}) return false;
    {% endif %}
    {% endfor %}
    return true;
}

Map<String, dynamic> toJson() {
    return {
        {% for selection in selections %}
        '{{selection.selection_name}}': {{selection.selection_name}},
        {% endfor %}
    };
}

{% endmacro %}


{% set root_type_name %}
Request{{context.root_type.selection_name}}
{% endset %}
class {{root_type_name}}{

{{base_object_impl(root_type_name, context.root_type.selections)}}
}
