{% macro base_object_impl(typename, selections) %}

/// class memberes
{% for selection in selections %}
final {{type_name_for_selection(selection)}} {{selection.name}};

{% endfor %}

// keywordargs constructor
{{typename}}({
    {% for selection in selections %}
    required this.{{selection.name}},
    {% endfor %}
});


static {{typename}} FromJson(Map<String, dynamic> data) {
    {% for selection in fields %}
    {% if selection.kind == "Scalar" %}
        {{ selection.name }}_value = data['{{ selection.name }}'] as {{ type_name_for_selection(selection) }}
            
        {% endif %}
    {% endfor %}
    
  return {{typename}}(

  );
}

{% endmacro %}


class Request{{context.root_type.type_name}}{
{{base_object_impl(context.root_type.type_name, context.root_type.selections)}}
}
